<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Taekwondo School{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    {% comment %}
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% endcomment %} {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    {% block stylesheet %} {% endblock %}
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/"
          ><img class="logo" src="{% static 'img/NEW_LOGO.png' %}" alt="Logo"
        /></a>

        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    {% block content %} {% endblock %}

    <div class="wrapper">
      <a href="#" class="icon"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="#" class="icon"><i class="fa-brands fa-youtube"></i></a>
      <a href="#" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
    </div>

  </body>
  <footer class="foot">
    <p>Copyright &copy; 2024 Taekwondo Of Morganville. All Rights Reserved</p>
  </footer>
</html>
