{% extends 'base.html' %} {% load static %} {% block title %} Taekwondo School
{% endblock %} {% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}

<div class="home">
  <h1 class="title">Taekwondo Of Morganville</h1>
  <p class="motto">
    Traditional South Korean Martial Arts and Physical Fitness Center
  </p>
</div>

<p>
  Our school is dedicated to the promotion of traditional martial arts and
  physical fitness. We offer a variety of classes for all ages and skill levels.
</p>
<div class='gallery'>
  
</div>
{% endblock %}
